<div class="divViewShow">

    <div class="divViewShowTitle" class id="title">

      <h1>YOUR GIPHY GOSS</h1>

    </div>

</div>

  <p id="myStories"> </p>

<%= link_to 'Create a new Giphy Gossip', root_url %> 

