<!-- header -->

<<<<<<< HEAD
<body>
  
=======

<!--                            .8N8NNNDD+?
                             +7OD88NMNNNMNDN8NI.
                            INNDDDDDNNMDMM8DDNND7
                         .7NNDN8MMDDMDMMNMDDDDNDND
                        ,NMMNNMMDNDD8NMNMMMNMNNMNND.,
                        NNMDDMMNMMNMNNNMNNND88DDNN8DD
                       88NDNNNNN8NDDDZ7?7777777$8N8OND
                     .NNNNND8MMZ$7??+===++++????I$D8NN:.
                     8DMMMDZN8$I?++======+++?????IZ8DM$
                    .ODNND$??+???+++=====+++??????$DDDD.
                    ?DNNMZ?++++++=====~~++++??????IZDNMN~
                   . 88ND$+++++++======~==++???????$8NN..
                     ~8NN7++?$7I?+========+++??????7ONDO
                     ?DDN++7Z8NNNDZ$?++=II7O88D8DI??8DM8
                     .Z88=I7I?I77$$7?=+?I7OZ7I7Z8$I?ZNN
                     ?78I+?7$MIDMZ$$?++?7$O$DNO8777+IDNI.
                    ..?$++?I?I$777?$??+?$I$7O8Z8OZ7??8$7.
                     .I$==+?I???III????II7I77777?I?+?O7I
                      ?+==++????+????+?II7III?I????++OI,.
                      :=7=+++++++????+??I7I?+?+????+?I?.
                      .+Z=+++++???++++????I???????++$?=
                        ?=++++??++?I$7$ZZOI?I?I????+O=..
                        .+=+????7$O88$O8OZ7I?IIII??I?...
                        :??++?$OZ$8O7I7OOOOZ$7I??I??,..
                        ,7+???8I?777II7Z8O88O$I?$I?I....
                        .:++?7$??++???????IIIO7Z$II7...
                         ,?I?ZO$I??7$Z7I????7ZZIIIZ,...
                         .+IOOO8$?++?+?I?+?7ZD8II$I7ZZ.
                         ?+?IODD8ZII?+?7IZ$O8DOZ7I7$$ZO
                      .. ~+???8NNDOO$7$888DDNDO$II77$$7
                         .++?I$NNN8DDDNNNDNNNZ7III77$$7 ...... ..
                 .     .   I??I$8NNMNNDNNNND77I?III7I7? ,...... . .
                ..     ..   $I?II$7$OZO8ZZZ$7I??IIIII7,......... .. .
               ..      ...  .77II7777$$$$$77I????????I.,........  ..
                         ..   7IIIII77777II??????+???,............... . ..
                        .   . .7I?????I??+++??+++++?.. .,.................    .
                            ., 7I?++?++?+++?+?+++?+.. . ....... ... . ..  .    .
                             ,.+??+???II+++++??++~  .   ,. ...          ..... . -->

>>>>>>> 5286cc2ed1e12ad901e7094a7cff8e6ba41ad0d2
  <div class="homePageHeader" class id="title">


      <h2>Whats the goss?</h2>

  </div>

<div id="main"></div>

<script type="html/template" id="appViewTemplate">


<!-- Story and title input div -->

<div class="divNewView">

  <div id="storyForm" class="divNewViewInput">
    Form goes here.
  </div>

</script>

<script type="html/template" id="storyInputViewTemplate">

  <div class="divNewViewTitle" >
        <input class="input" type="text" placeholder="GIPHY GOSSIP TITLE" ></input>

        <textarea placeholder="Enter a story with #words to turn them into Giphy Goss!" class="input"></textarea>
  </div>

  <div class="divNewViewButton">

        <button class="button">CREATE STORY</button>

  </div>

</script>

<script type="html/template" id="StoryViewTemplate">

    <div class="divViewShowShareButton">

      <button class="button">SHARE YOUR GOSS TO GOSSIP GALLERY</button>


    </div>
</script>


 <!-- Result Output div view -->

<div class="divViewShow">

    <div class="divViewShowTitle" class id="title">

      <h1>YOUR GIPHY GOSS</h1>

    </div>

</div>

</div>

  <p id="myGoss"> </p>

  <!-- Giphy Gossip view -->

 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56a07cf372312ad9" async="async"></script>

  <div class="divGiphyGossip">

      <div class="divGiphyGossipTitle" class id="title">
        <h1>GOSSIP GALLERY</h1>
      </div>

</div>

    <p id="stories"></p>

    <img class="giphyPower" src="https://raw.githubusercontent.com/cirla/vim-giphy/master/powered_by_giphy.gif">


</body>


