<!-- header -->
  <div class="homePageHeader" class id="title">
    
    <h2>Whats the goss?</h2>

  </div>

<div id="main"></div>

<script type="html/template" id="appViewTemplate">


<!-- Story and title input div -->    

<div class="divNewView">
    
  <div id="storyForm" class="divNewViewInput">
    Form goes here.  
  </div>
  
</script>

<script type="html/template" id="storyInputViewTemplate">
  
  <div class="divNewViewTitle" >
           <input class="input" type="text" placeholder="TITLE" ></input>
      

<textarea placeholder="Ex. I #LOVE #DOGS" class="input"></textarea>
</div>

<div class="divNewViewButton">
<button class="button"> CREATE GIPHY GOSS</button>
</div>

</script>

 <!-- Result Output div view -->

<div class="divViewShow">

    <div class="divViewShowTitle" class id="title">
      
      <h1>YOUR GIPHY GOSS!</h1>

    </div>

</div>    

    <p id="myGoss">

    </p>

    <div class="divViewShowSaveButton">
      <button class="button">SAVE YOUR GOSS</button>
    </div>

    <div class="divViewShowShareButton">
      <button class="button">SHARE YOUR GOSS TO GOSSIP GALLERY</button>
    </div>



  <!-- Giphy Gossip view -->

  <div class="divGiphyGossip">
    
      <div class="divGiphyGossipTitle" class id="title">
        <h1>GOSSIP GALLERY</h1>
      </div>  

</div>    

    <p id="stories">

  </p>
