<div id="main"></div>

  <h1>Welcome to Giphy Gossip</h1>

  <div id="secretForm">
   
  </div>

  <p id="secrets">
  What's the Goss?
  </p>
  
</script>
  
<textarea placeholder="Create your story"></textarea>
<button>Submit</button>

</script>