<div id="main"></div>

<script type="html/template" id="appViewTemplate">

  <h1>Welcome to Giphy Gossip</h1>

  <div id="storyForm">
    Form goes here.  
  </div>

  <ul id="stories">

<p>"What's the Goss?"</p>

  </ul>
  
</script>

<script type="html/template" id="storyInputViewTemplate">
  
<textarea placeholder="Enter story"></textarea>
<button>Submit</button>

</script>