<body>
  
  <div class="homePageHeader" class id="title">


      <h2>Whats the goss?</h2>

  </div>

<div id="main"></div>

<script type="html/template" id="appViewTemplate">


<!-- Story and title input div -->

<div class="divNewView">

  <div id="storyForm" class="divNewViewInput">
    Form goes here.
  </div>

</script>

<script type="html/template" id="storyInputViewTemplate">

  <div class="divNewViewTitle" >
        <input class="input" type="text" placeholder="GIPHY GOSSIP TITLE" ></input>

        <textarea placeholder="Enter a story with #words to turn them into Giphy Goss!" class="input"></textarea>
  </div>

  <div class="divNewViewButton">

        <button class="button">CREATE STORY</button>

  </div>

</script>

<script type="html/template" id="StoryViewTemplate">

    <div class="divViewShowShareButton">

      <button class="button">SHARE YOUR GOSS TO GOSSIP GALLERY</button>


    </div>
</script>


 <!-- Result Output div view -->

<div class="divViewShow">

    <div class="divViewShowTitle" class id="title">

      <h1>YOUR GIPHY GOSS</h1>

    </div>

</div>

</div>

  <p id="myGoss"> </p>

  <!-- Giphy Gossip view -->

 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56a07cf372312ad9" async="async"></script>

  <div class="divGiphyGossip">

      <div class="divGiphyGossipTitle" class id="title">
        <h1>GOSSIP GALLERY</h1>
      </div>

</div>

    <p id="stories"></p>

    <img src="https://raw.githubusercontent.com/cirla/vim-giphy/master/powered_by_giphy.gif" style="width:200px;height:42px;">

</body>


