@font-face {
    font-family: 'filter_cfthin';
    src: url('filtercf-thin-webfont.eot');
    src: url('filtercf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('filtercf-thin-webfont.woff2') format('woff2'),
         url('filtercf-thin-webfont.woff') format('woff'),
         url('filtercf-thin-webfont.ttf') format('truetype'),
         url('filtercf-thin-webfont.svg#filter_cfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neouthin';
    src: url('neou-thin-webfont.eot');
    src: url('neou-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('neou-thin-webfont.woff2') format('woff2'),
         url('neou-thin-webfont.woff') format('woff'),
         url('neou-thin-webfont.ttf') format('truetype'),
         url('neou-thin-webfont.svg#neouthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


.homePageHeader > h2 {
 font-family: filter_cfthin;
  color: hotpink;
  font-size: 50px;
  padding: 20px;
}

.divNewViewTitle {
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

.divNewViewInput {
  border-style: none;
  padding: 10px;
  margin: 20px;

}

.divNewViewButton {
  border-style: solid;
  padding: 20px;
  margin: 20px;
  background-color: #75FF55;

}

.divViewShowTitle {
  border-top: dashed;
  border-bottom: dashed;
}

.divViewShowTitle > h1 {
  color: yellow;
}

.divViewShowResult {
  padding: 10px;
  margin: 20px;

}

#box {
  border-style: solid;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

.divViewShowOutputTitle {
  border-style: solid;
  padding: 10px;
  margin: 20px;

}

.divViewShowSaveButton {
  border-style: solid;
  padding: 20px;
  margin: 20px;
  background-color: #FF5050;

}

.divViewShowShareButton {
  border-style: solid;
  padding: 20px;
  margin: 20px;
  background-color: #0cbbee;
}

.divGiphyGossipTitle {
  border-top: dashed;
  border-bottom: dashed;
 
}

.divGiphyGossipTitle > h1 {
   color: hotpink;

}

.resultGiphy {
  border-bottom: dashed;
  padding: 20px;
  margin: 20px;
}

#title > h1 {
  font-family: filter_cfthin;
  font-size: 60px;
  padding: 15px;

}

.button {
    font-size: 30px;
    background: none;
    border: none;
}

.input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
}

#storyForm > textarea.input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: white;
    background: none;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100%;
    font-size: 30px;


}

/*modal css*/

.login_modal_footer {
    margin-top:5px;
}

.login_modal_header .modal-title {
    text-align: center;
    font-family: filter_cfthin;
}

.form-group {
    position: relative;
}

.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}

.login-modal {
    width:100%;
    padding-bottom:20px;
}

.login_modal_header, .login_modal_footer {
    background: black !important;
    color:#fff;
}

.modal-register-btn {
    margin: 4% 33% 2% 33%;
    width:100%;
}
.login-modal input {
    height:40px; 
    width: 100%;
    box-shadow: none; 
    border:1px solid #ddd;
}

.modal-body-left {
    float:left; 
    width:50%; 
    padding-right:4%; 
    border-right:4px solid #ddd;
}

.modal-body-right {
    float:right; 
    width:47%;
}

.login-link {
    padding:0 20%;
}

.modal-social-icons {
    padding:0 10%;
}

.facebook, .twitter {
    width:100%;
    height:40px;
    padding-top:2%;
    margin-top:2%;
}

.modal-icons {
    margin-left: -10px; 
    margin-right: 20px;
}

.twitter, .twitter:hover { 
    background-color: #00aced;
     border:2px solid #00aced;
     color: #fff;
 }

.facebook, .facebook:hover {
    background-color: #3b5999; 
    border:2px solid #3b5999;
    color:#fff;
}

#social-icons-conatainer {
    position: relative;
}

#center-line {
    position: absolute;  
    right: 265.7px;
    top: 50px;
    background:#ddd;
    border: 10px solid #DDDDDD;
    border-radius: 20px;
}

.modal-login-btn {
    width:100%;
    height:40px; 
    margin-bottom:10px;
}

#modal-launcher {
    margin: 30% 0 0 30%; 
}

.modal-body-left > .btn-success {
    color: white;
    background: black;
    border-color: black;
}

.modal-body-left > .btn-success:hover {
    background-color: black;
}

#stories img {
  height: 200px;
}

#myGoss img {
  height: 200px;
}
