@font-face {
    font-family: 'filter_cfthin';
    src: asset-url('filtercf-thin-webfont.eot');
    src: asset-url('filtercf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('filtercf-thin-webfont.woff2') format('woff2'),
         asset-url('filtercf-thin-webfont.woff') format('woff'),
         asset-url('filtercf-thin-webfont.ttf') format('truetype'),
         asset-url('filtercf-thin-webfont.svg#filter_cfthin') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'neouthin';
    src: asset-url('neou-thin-webfont.eot');
    src: asset-url('neou-thin-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('neou-thin-webfont.woff2') format('woff2'),
         asset-url('neou-thin-webfont.woff') format('woff'),
         asset-url('neou-thin-webfont.ttf') format('truetype'),
         asset-url('neou-thin-webfont.svg#neouthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: yellow;
}

:-moz-placeholder { /* Firefox 18- */
  color: yellow;
}

::-moz-placeholder { /* Firefox 19+ */
  color: yellow;
}

:-ms-input-placeholder { /* IE 10+ */
  color: yellow;
}

::-ms-input-placeholder { /* Edge */
  color: yellow;
}

ul
{
    list-style-type: none;
}

.divViewShow {
  display: none;


}

span.tag {
  color: hotpink;
}

.giphyPowered {
  float: right;
  margin-right: 20px;
  margin-top: 50px;
}

.refresher {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.refresher:hover {
  opacity: 0.5;
  background: black;
}

.refreshHTML {
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
}


.giphyPowered {
  float: right;
  margin-right: 20px;
  margin-top: 50px;
}

.homePageHeader > h2 {
 font-family: filter_cfthin;
  color: hotpink;
  font-size: 50px;
  padding: 20px;
}

.divNewViewTitle {
  border-style: solid;
  padding: 10px;
  margin: 20px;
}

.divNewViewInput {
  border-style: none;
  padding: 10px;
  margin: 20px;

}

.divNewViewButton {
  border-style: solid;
  padding: 20px;
  margin: 20px;
  background-color: #75FF55;

}

.divViewShowTitle {
  border-top: dashed;
  border-bottom: dashed;
}

.divViewShowTitle > h1 {
  color: yellow;
}

.divViewShowResult {
  padding: 10px;
  margin: 20px;

}

.bottomLine {
  padding: 10px;
  margin: 20px;
}

#box {
  border-style: solid;
  padding: 10px;
  margin: 20px;
  display: inline-block;
}

.divViewShowOutputTitle {
  border-style: solid;
  padding: 10px;
  margin: 20px;
  color: white;

}

.divViewShowOutputTitle > p{
  padding: 10px;
  margin: 20px;
  color: white;

}


.divViewShowSaveButton {
  border-style: solid;
  padding: 20px;
  margin: 20px;
  background-color: #FF5050;

}


.divViewShowShareButton {
  border-style: solid;
  padding: 20px;
  margin: 20px;
  background-color: #0cbbee;
}

.divGiphyGossipTitle {
  border-top: dashed;
  border-bottom: dashed;

}

.divGiphyGossipTitle > h1 {
   color: hotpink;

}

.resultGiphy {
  border-bottom: dashed;
  padding: 20px;
  margin: 20px;
}

#title > h1 {
  font-family: filter_cfthin;
  font-size: 60px;
  padding: 15px;

}

.button {
    font-size: 30px;
    background: none;
    border: none;
}

.input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  opacity: 0.7;
}

#storyForm > textarea.input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: white;
  background: none;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 100%;
  font-size: 30px;

}

img {
  height: 200px;
}

#signUp {
  color: purple;
}

