body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: neouthin;
  min-height: 2000px;

}

div.field input {
  color: black;
}

.navbar-nav {
  padding: 15px 15px;
  color: yellow;

  }

.navbar-inverse {
  background-color: black;
  font-size: 20px;
}

.navbar-inverse .navbar-brand {
  color: yellow;
}

.navbar-header > .navbar-brand {
font-family: filter_cfthin;
font-color: yellow;
font-size: 40px;
}

/*
p, ol, ul, td {
  font-family: neouthin;
  font-size: 13px;
  line-height: 18px;
  color: white;
}*/

#placeholder {
  color: yellow;
}

pre {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 11px;
}

#storyForm > textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
    background: white;
  }


textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: white;
  }

#storyForm > button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: black;
}

.a {
  color: white;
}

a {
  color: yellow;

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: black;
}

p {
  color: white;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }


  ul li {
    font-size: 12px;
    list-style: square;
  }
}
